<launch>

  <arg name="joint_state_gui" default="false" description="If true, select the GUI version of :ros:exec:`join_state_publisher/join_state_publisher`"/>
  <arg name="joint_state_rate" default="10.0" description="The rate to publish :ros:pub:`joint_states`"/>
  <arg name="world" default="/home/benko/ros2_rm/src/robomaster_ros/robomaster_description/Gazebo/robomaster.world"/>
  <let name="js_suffix" value="" unless="$(var joint_state_gui)"/>
  <let name="js_suffix" value="_gui" if="$(var joint_state_gui)"/>

  <include file="$(find-pkg-share gazebo_ros)/launch/gazebo.launch.py">
    <arg name="world" value="$(var world)"/>
    <arg name="use_sim_time" value="true"/>
  </include>
  <!--
    <include file="$(find-pkg-share robomaster_description)/launch/model.launch.py"/>

    <node name="spawn_entity" pkg="gazebo_ros" exec="spawn_entity.py" output="screen" args="-topic robot_description -entity robomaster -x 0 -y -0.4 -z 0 -R 0 -P 0 -Y 1.57"/>
  -->
  <include file="$(find-pkg-share robomaster_description)/launch/controller.launch.py"/>
</launch>
