<launch>
  <arg name="world" default="/home/benko/ros2_rm/src/robomaster_ros/robomaster_description/Gazebo/robomaster.world"/>

  <include file="$(find-pkg-share gazebo_ros)/launch/gazebo.launch.py">
    <arg name="world" value="$(var world)"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="false"/>
  </include>

  <include file="$(find-pkg-share robomaster_description)/launch/controller.launch.py"/>
</launch>
