<?xml version="1.0"?>
<robot xmlns:xacro="http://playerstage.sourceforge.net/gazebo/xmlschema/#xacro">

    <ros2_control name="GazeboSimSystem" type="system">
        <hardware>
            <plugin>fake_components/GenericSystem</plugin>
        </hardware>
        <joint name="gimbal_joint">
            <command_interface name="velocity">
                <param name="min">-3</param>
                <param name="max">3</param>
            </command_interface>
            <state_interface name="position">
                <param name="initial_value">0.0</param>
            </state_interface>
            <state_interface name="velocity"/>
        </joint>
        <joint name="blaster_joint">
            <command_interface name="velocity">
                <param name="min">-3</param>
                <param name="max">3</param>
            </command_interface>
            <state_interface name="position">
                <param name="initial_value">0.0</param>
            </state_interface>
            <state_interface name="velocity"/>
        </joint>
    </ros2_control>
    <gazebo>
        <plugin name="gazebo_ros2_control" filename="libgazebo_ros2_control.so">
            <parameters>$(find robomaster_description)/config/simcontroller.yaml</parameters>
        </plugin>
    </gazebo>
</robot>