<?xml version="1.0"?>
<robot name="robomaster_s1" xmlns:xacro="http://playerstage.sourceforge.net/gazebo/xmlschema/#xacro">


  <xacro:arg name="name" default=""/>
  <xacro:property name="_name" value="$(arg name)"/>
  <xacro:if value="${_name != ''}">
    <xacro:property name="tf_prefix" value="${_name}/"/>
  </xacro:if>
  <xacro:if value="${_name == ''}">
    <xacro:property name="tf_prefix" value=""/>
  </xacro:if>


  <xacro:include filename="base.urdf.xacro"/>
  <xacro:include filename="gimbal.urdf.xacro"/>
  <xacro:include filename="camera.urdf.xacro"/>
  <xacro:include filename="intelligent_controller.urdf.xacro"/>
  <xacro:include filename="tof.urdf.xacro"/>

  <xacro:base tf_prefix="${tf_prefix}"/>
  <xacro:gimbal tf_prefix="${tf_prefix}"/>
  <xacro:camera tf_prefix="${tf_prefix}" mount="gimbal"/>
  <xacro:intelligent_controller tf_prefix="${tf_prefix}" mount="gimbal"/>

  <xacro:add_tof index="0" tf_prefix="${tf_prefix}"/>
  <xacro:add_tof index="1" tf_prefix="${tf_prefix}"/>
  <xacro:add_tof index="2" tf_prefix="${tf_prefix}"/>
  <xacro:add_tof index="3" tf_prefix="${tf_prefix}"/>




  <gazebo reference="camera_link">
    <pose>0 0 0 1.57 0 0</pose>
    <sensor type="camera" name="camera">
      <update_rate>20</update_rate>
      <visualize>true</visualize>
      <camera name="cam">
        <horizontal_fov>1.3962634</horizontal_fov>
        <image>
          <width>640</width>
          <height>360</height>
          <format>R8G8B8</format>
        </image>
        <clip>
          <near>0.02</near>
          <far>100</far>
        </clip>
        <noise>
          <type>gaussian</type>
          <mean>0.0</mean>
          <stddev>0.007</stddev>
        </noise>
      </camera>
      <plugin name="gazebo_camera" filename="libgazebo_ros_camera.so">
        <frame_name>camera_optical_link</frame_name>
        <min_depth>0.1</min_depth>
        <max_depth>100</max_depth>
      </plugin>
    </sensor>
  </gazebo>
  <gazebo>
    <!--<plugin name="robomaster_diff_drive" filename="libgazebo_ros_diff_drive.so">

      <update_rate>30</update_rate>


      <left_joint>front_left_wheel_joint</left_joint>
      <right_joint>front_right_wheel_joint</right_joint>


      <wheel_separation>0.250</wheel_separation>
      <wheel_diameter>0.050</wheel_diameter>


      <max_wheel_torque>20</max_wheel_torque>
      <max_wheel_acceleration>1.0</max_wheel_acceleration>

      <command_topic>cmd_vel</command_topic>

      <publish_odom>true</publish_odom>
      <publish_odom_tf>true</publish_odom_tf>
      <publish_wheel_tf>false</publish_wheel_tf>

      <odometry_topic>odom</odometry_topic>
      <odometry_frame>odom</odometry_frame>
      <robot_base_frame>base_link</robot_base_frame>
    </plugin>-->
    <plugin name="robomaster_steering" filename="libgazebo_ros_planar_move.so">
      <commandTopic>cmd_vel</commandTopic>
      <odometryTopic>odom</odometryTopic>
      <odometryFrame>odom</odometryFrame>
      <odometryRate>50.0</odometryRate>
      <robotBaseFrame>base_link</robotBaseFrame>
      <publishTF>false</publishTF>
    </plugin>

    <plugin name="robomaster_joint_state" filename="libgazebo_ros_joint_state_publisher.so">
      <ros>
        <remapping>~/out:=joint_states</remapping>
      </ros>
      <update_rate>30</update_rate>
      <joint_name>front_left_wheel_joint</joint_name>
      <joint_name>front_right_wheel_joint</joint_name>
    </plugin>
  </gazebo>
</robot>
